<div class="row">
  <div class="container">

    <div class="col-xs-2"></div>

    <div class="col-xs-8">
      <div class="about">
        <div class="about-text">
          <h2>C-fan!</h2><br>
          C-fan!ではたくさんの人の創作を見ることができます<br>
          イラスト・小説・写真・手芸…様々なジャンルの作品が投稿されています<br>
          あなたの好きな創作は何ですか？<br>
          会員登録をして作品を投稿すると、いいねやコメントが送られてくるかもしれません<br>
          C-fan!は全ての人の創作活動を応援しています<br>
          ぜひ、あなたの才能を披露してください！<br>
          きっと、誰かがあなたのファンです
        </div>
      </div>
    </div>

    <div class="col-xs-2"></div>

  </div>
</div>
