

      <div class="top">
        <div class="top-text">
          <h2>C-fan!へようこそ！</h2><br>
          ここはあなたの「Create」を応援するための場所です<br>
          あなたの才能をたくさんの人に見てもらいましょう！<br>
        </div>
      </div>

        <div class="container-box">
          <div class="container-box-white">
            <div class="container-box-text"></div>
            <%= link_to "", items_path, class: "top-link" %>
          </div>
          <div class="theTarget">
            <div style="background-image: url(assets/arujuna.jpg)"></div>
            <div style="background-image: url(assets/konatu.jpg)"></div>
            <div style="background-image: url(assets/sinobu.jpg)"></div>
            <div style="background-image: url(assets/sika.jpg)"></div>
          </div>
        </div>


