<div class="container-box">
  <div class="theTarget">
    <div style="">
      <div class="top">
        <div class="top-text">
          <h2>C-fan!へようこそ！</h2><br>
          ここはあなたの「Create」を応援するための場所です<br>
          あなたの才能をたくさんの人に見てもらいましょう！<br>
        </div>
        <%= link_to "", items_path, class: "top-link" %>
      </div>
    </div>
    <div style="background-image: image-url(assets/ilust.jpg)"></div>
    <div style="background-image: image-url(assets/syousetu.jpg)"></div>
    <div style="background-image: image-url(assets/syasin.jpg)"></div>
    <div style="background-image: image-url(assets/syugei.jpg)"></div>
  </div>
</div>







